/*!*****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./style/index.scss ***!
  \*****************************************************************************************************************************************************/
.b-2-b {
  border-bottom: 2px solid;
}

.b-gray {
  border-color: #e2e8f0;
}

.p-y-3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.m-w-screen-xl {
  max-width: 1280px;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
